<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script class="lazy" data-src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script> 
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Winkel Manager Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://discord.com/api/oauth2/authorize?client_id=637304257090945024&permissions=8&scope=bot%20applications.commands" target="_blank">Invite</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <% if (user) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Logged in as <%= user.username %>#<%= user.discriminator %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
                <li><a class="dropdown-item" href="https://discord.com/api/oauth2/authorize?client_id=637304257090945024&permissions=8&scope=bot%20applications.commands" target="_blank">Invite</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>
            </li>
          <% } else { %>
            <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>


  <!-- <% if (user) { %>
    <p>Logged in as <%= user.username %>#<%= user.discriminator %>.</p>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a type="button" href="/login">Login</a><br>
  <% } %>
  <% if(user && title === "Home") { %>
    <a type="button" href="/dashboard">Back to dashboard</a><br>
  <% } %>
  <%- title === "Dashboard" ? "" : "<hr>" %> -->
