<%- include("partials/header", { bot, user, path, title: `Settings | ${guild.name}` }) %>

<div class="container-sm center" style="margin-top: 30px;">
  <div class="d-grid gap-2 col-4 mx-auto">
    <% if (alert) { %>
      <div class="alert alert-success" role="alert">
        <%= alert %>
      </div>
    <% } %>
    <h1><%= guild.name %></h1>
    <hr>
    <a href="/dashboard/<%- guild.id %>/algemeen" class="btn btn-primary text-white">Server instellingen</a>
    <a href="/dashboard/<%- guild.id %>/winkels" class="btn btn-success text-white">Winkel instellingen</a>
  </div>
</div>

<%- include("partials/footer") %>